<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
    <section layout:fragment="content">
        <h1>메인</h1>
        <div class="dashboard-container" id="visitor-section">
            <div class="section left-top">
                <h2>방문자 현황</h2>
            </div>
            <div class="section right-top">
                <h2>읽지 않은 문의</h2>
                <!-- 읽지 않은 문의 내용 -->
            </div>
            <div class="section left-bottom">
                <h2>예약 현황</h2>
                <!-- 예약 현황 내용 -->
            </div>
            <div class="section right-bottom">
                <h2>공지사항</h2>
                <!-- 공지사항 내용 -->
            </div>
        </div>
    </section>

</body>
</html>
